.Navbar {
	position: sticky;
	position: -webkit-sticky;
	color: block;
	text-decoration: none;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
	z-index: 100;
}

.Navbar a {
	color: inherit;
	text-decoration: none;
}

.Navbar a:hover {
	text-decoration: underline;
}

.Navbar .menu {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	align-items: stretch;
	gap: 50px;
}

.Navbar .menu .has-child-menu::after {
	cursor: pointer;
	padding-left: 10px;
	content: '>';
}

.Navbar .has-child-menu:hover::after {
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

.Navbar .menu .menu-item {
	position: relative;
}

.Navbar .menu .menu-item .submenu-wrapper {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	padding-top: 15px;
	transition: opacity 0.2s;
}

.Navbar .menu .menu-item .submenu {
	background: white;
	color: black;
	min-width: 200px;
	text-align: left;
	padding: 20px;
	list-style: none;
	border: 1px orange solid;
	z-index: 100;
}

.Navbar .menu .menu-item .submenu li:not(:first-child) {
	margin-top: 20px;
}

.Navbar .menu .menu-item .submenu-wrapper.is-visible {
	visibility: visible;
	opacity: 100;
}
